<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
        <div class="fenti">
          <div id="fentiElso" class="sor1"></div>
          <div class="sor1"></div>
          <div class="sor1"></div>
          <div class="sor1"></div>
          <div class="sor1"></div>
          <div class="sor1"></div>
          <div class="sor1"></div>
          <div class="sor1"></div>
          <div class="sor1"></div>
          <div class="sor1"></div>
        </div>
        <div class="lenti">
          <div id="lentiElso" class="sor2"></div>
          <div class="sor2"></div>
          <div class="sor2"></div>
          <div class="sor2"></div>
          <div class="sor2"></div>
          <div class="sor2"></div>
          <div class="sor2"></div>
          <div class="sor2"></div>
          <div class="sor2"></div>
          <div class="sor2"></div>
        </div>
      </div>
</body>
</html>